@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
}

html::-webkit-scrollbar-track {
  background-color: #ffffff;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
